
<table class="table incorrect-hours-table table-responsive">
  <thead>
    <tr>
      <th>Phase</th>
      <th>Category</th>
      <th>Name</th>
      <th>Date</th>
      <th class="number-column">Hours</th>
      <th class="number-column">Bill rate</th>
      <th>Entry</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in entries %}
    <tr>
      <td>{{ entry.phase_name }}</td>
      <td>{{ entry.category }}</td>
      <td>{{ entry.user_name }}</td>
      <td>{{ entry.date }}</td>
      <td class="number-column">{{ entry.incurred_hours|floatformat:2 }}</td>
      <td class="number-column">{{ entry.bill_rate|floatformat:2 }}&euro;</td>
      <td>{{ entry.notes }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6">No entries</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
