{% load humanize %}
{% load django_tables2 %}

<h2>All invoices <small><span data-toggle="collapse" data-target="#invoice-table-filters"><i class="fa fa-filter" aria-hidden="true"></i></span></small>
  <span class="text-right">
  <form method="post" class="form-inline" action="{% url "queue_update" %}" style="display:inline">
    {% csrf_token %}
    <input type="hidden" name="back" value="{% url "frontpage" %}{{ request.GET.q }}">
    <button role="submit" name="Resync" class="btn btn-light">Resync ({{ last_update_finished_at|naturaltime }})</button>
  </form>
  </span></h2>

<div id="invoice-table-filters" style="margin-bottom: 1em" class="collapse">
<form action="" method="get" class="form-inline" style="display:inline">
  <div class="row">
    {% for field in filters.form %}
    <div class="col-md-3">
      <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      </div>
    </div>
    {% endfor %}
    <div class="col-md-3">
      <button style="margin-top:0.8em" class="btn btn-primary" type="submit">Filter</button>
    </div>
  </div>
</form>
</div>

{% render_table invoices %}
