{% if previous_invoices %}
<div class="dropdown top-bar-dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Open another invoice
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {% for previous_invoice in previous_invoices %}
    <li><a href="{% url previous_invoice_url|default:"invoice" previous_invoice.invoice_id %}">{{ previous_invoice.date }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
