{% if previous_invoices %}
<div class="dropdown top-bar-dropdown">
  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Select month
    <span class="caret"></span>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {% for previous_invoice in previous_invoices %}
    <a class="dropdown-item" href="{% url previous_invoice_url|default:"invoice" previous_invoice.invoice_id %}">{{ previous_invoice.date }}</a>
    {% endfor %}
  </div>
</div>
{% endif %}
