{% extends "base.html" %}

{% block title %}{% if cumulative_saldo %}{{ cumulative_saldo|floatformat:"2" }}h{% endif %} - flex time - {{ person.first_name }}{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url "frontpage" %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url "users_list" %}">People</a></li>
  <li class="breadcrumb-item"><a href="{% url "person_overview" person.guid %}">Person: {{ person.first_name }}</a></li>
  <li class="breadcrumb-item active">Flex hours</li>
</ol>


<h2>Flex hours for {{ person.first_name }} {{ person.last_name }}: {% if cumulative_saldo %}{{ cumulative_saldo|floatformat:"2" }}h{% endif %}</h2>

{% if cumulative_saldo < max_minus %}
<div class="alert alert-danger" role="alert">
  The flex saldo is below the limit of {{ max_minus }}h. {% if person.email == request.user.email %}You need to work on reducing this. You can not take flex leave. If you take days off or work shorter days, you must use "Unpaid leave" instead.{% endif %}
</div>
{% elif cumulative_saldo > max_plus %}
<div class="alert alert-warning" role="alert">
  The flex saldo is above the limit of {{ max_plus }}h. {% if person.email == request.user.email %}You should work on reducing this. You can either take days off, or take (some of) these out as salary.{% endif %}
</div>
{% endif %}

<div class="alert alert-info" role="alert">
{% if kiky.saldo %}
<p>Flex saldo includes {{ kiky.saldo|floatformat:"2" }}h KIKY deduction.</p>
{% endif %}
<p><strong>Tip:</strong> today is not included in flex hours calculations. If you want to know your flex saldo including today, you have to add it manually. <abbr title=""><small><span data-toggle="tooltip" data-placement="top" title="This way, if you mark your hours daily, you will know your exact balance, instead of 'on the morning it is -7.5h'.">Why?</span></small></abbr></p>
<p><strong>Slack tip:</strong> use <code>/flex-hours</code> to quickly see your flex saldo.</p>
</div>


<div id="flex_diff_calendar_holder" style="height:{{ calendar_height }}px">
  <div id="flex_diff_calendar"></div>
</div>

<h3>Summary</h3>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Month</th>
      <th class="number-column"><span data-toggle="tooltip" data-placement="top" title="Amount of leaves (sick leaves, annual holidays etc.) during this month.">Leaves</span></th>
      <th class="number-column"><span data-toggle="tooltip" data-placement="top" title="Amount of working hours (excluding leaves) this month.">Worked hours</span></th>
      <th class="number-column"><span data-toggle="tooltip" data-placement="top" title="Overtime hours. Not counted to your flex saldo, as overtime hours are paid separately.">Overtime</span></th>
      <th class="number-column"><span data-toggle="tooltip" data-placement="top" title="Amount of hours you should work in this month to have no changes in your flex saldo.">Work hours this month</span></th>
      <th class="number-column"><span data-toggle="tooltip" data-placement="top" title="Change in flex saldo this month.">Diff</span></th>
      <th class="number-column"><span data-toggle="tooltip" data-placement="top" title="Total amount of flex saldo, including past months. Excluding KIKY hours.">Cumulative</span></th>
    </tr>
  </thead>
  <tbody>
  {% for row in monthly_summary %}
  <tr>
    <td><a href="{% url "person_month" person.guid row.month.year row.month.month %}">{{ row.month|date:"Y-m" }}</a></td>
    <td class="number-column">{% if row.leave %}+{{ row.leave|floatformat:"2" }}{% endif %}</td>
    <td class="number-column">+{{ row.worktime|floatformat:"2" }}</td>
    <td class="number-column">{% if row.overtime %}({{ row.overtime|floatformat:"2"}}h){% endif %}</td>
    <td class="number-column">-{{ row.expected_worktime|floatformat:"2" }}</td>
    <td class="number-column">{{ row.diff|floatformat:"2" }}</td>
    <td class="number-column">{{ row.cumulative_saldo|floatformat:"2" }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% if monthly_summary_linechart %}
<div id="monthly_summary_linechart" style="height:400px"></div>
{% endif %}

<h3>KIKY</h3>

<table class="table table-responsive" style="max-width: 30em">
  <tbody>
    <tr>
      <td>KIKY hours you should have done so far</td>
      <td>-{{ kiky.deduction|floatformat:"2" }}</td>
    </tr>
    <tr class="summary-below-row">
      <td>KIKY hours you have done so far</td>
      <td>+{{ kiky.hours_done|floatformat:"2" }}h</td>
    </tr>
    <tr {% if kiky.saldo < 0 %}class="warning"{% endif %}>
      <td>Final saldo from KIKY</td>
      <td>{{ kiky.saldo|floatformat:"2" }}h</td>
    </tr>
    <tr>
      <td>Unused KIKY hours</td>
      <td>{{ kiky.unused_hours|floatformat:"2" }}h</td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#additional-details" aria-expanded="false">Toggle details</button>

<div id="additional-details" class="collapse">

<h3>Contracts {% if request.user.is_staff %}<small><a href="{% url "admin:flex_hours_workcontract_add" %}"><i class="fa fa-plus-circle"></i></a></small>{% endif %}</h3>
<ul>
  {% for contract in contracts %}
  <li>{{ contract.start_date }} - {{ contract.end_date }} - {% if contract.flex_enabled %}Flex time in use.{% else %}Flex time not in use.{% endif %}{% if contract.worktime_percent %} Working with {{ contract.worktime_percent }}% contract.{%endif %} {% if request.user.is_staff %}<a href="{% url "admin:flex_hours_workcontract_change" contract.id %}"><i class="fa fa-edit"></i></a>{% endif %}</li>
  {% endfor %}
</ul>

<h3>Flex time adjustments {% if request.user.is_staff %}<small><a href="{% url "admin:flex_hours_flextimecorrection_add" %}"><i class="fa fa-plus-circle"></i></a></small>{% endif %}</h3>
{% if flex_time_events %}
<ul>
  {% for event in flex_time_events %}
    <li>{{ event.date }}{% if event.adjust_by %} - flex time adjusted by {{ event.adjust_by|floatformat }}h{% endif %}{% if event.set_to %} - flex time set to {{ event.set_to|floatformat }}h{% endif %} {% if request.user.is_staff %}<a href="{% url "admin:flex_hours_flextimecorrection_change" event.id %}"><i class="fa fa-edit"></i></a>{% endif %}</li>
  {% endfor %}
</ul>
{% else %}
<p>You don't have any recorded flex time adjustments, such as converting flex time to money (or vice versa).</p>
{% endif %}


<h3>Calculations log</h3>
<table class="table-responsive table table-sm">
  <thead>
    <tr>
      <th>Date</th>
      <th>Day type</th>
      <th class="number-column">- Full workday</th>
      <th class="number-column">+ Leaves</th>
      <th class="number-column">+ Worktime</th>
      <th class="number-column">(Overtime)</th>
      <th class="number-column">&Sigma;</th>
      <th class="number-column">Cumulative</th>
    </tr>
  </thead>
  <tbody>
  {% for event in calculation_log %}
  {% if event.sum or event.worktime or event.leave or event.unpaid_leaves %}
  <tr>
    <td><a href="{% url "hours_browser" %}?user_name__icontains={{ person.full_name }}&date__gte={{ event.date }}&date__lte={{ event.date }}">{{ event.date }}</a></td>
    <td>{{ event.day_type }}</td>
    <td class="number-column">
      {% if event.day_type == "Weekday" %}
        {% if event.worktime_percent != 100 and event.worktime_percent %}
         {{ event.worktime_percent }}% *
        {% endif %}
        {% if event.expected_hours_today == 7.5 %}
          7.5h
        {% else %}
          -7.5h
        {% endif %}
      {% endif %}
      {% if event.unpaid_leaves %}
        + {{ event.unpaid_leaves|floatformat:2 }}h
      {% endif %}

      {% if event.day_type == "Weekday" and event.expected_hours_today != 7.5 or event.unpaid_leaves %}
        = {{ event.expected_hours_today|floatformat:"2" }}h
      {% endif %}
    </td>
    <td class="number-column">{% if event.leave %}{{ event.leave|floatformat:"2" }}h{% endif %}</td>
    <td class="number-column">{% if event.worktime %}{{ event.worktime|floatformat:"2" }}h{% endif %}</td>
    <td class="number-column">{% if event.overtime %}({{ event.overtime|floatformat:"2" }}h){% endif %}</td>
    <td class="number-column">{% if event.sum or event.sum == 0 %}{{ event.sum|floatformat:"2" }}h{% endif %}</td>
    <td class="number-column">{{ event.cumulative_saldo|floatformat:"2" }}h</td>
  </tr>
  {% endif %}
  {% endfor %}
</tbody>
</table>
</div>

{% endblock %}

{% block pageJs %}
google.charts.load("current", {packages:["calendar", "corechart"]});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
  {% include "snippets/calendar_chart.js" with calendar_height=calendar_height number_header="Flex diff" entries=daily_diff destination_id="flex_diff_calendar" title="Flex saldo changes" %}

  {% if monthly_summary_linechart %}
  var data = google.visualization.arrayToDataTable({{ monthly_summary_linechart|safe }});
  var options = {
   title: "Flex saldo at the end of the month",
   curveType: "function",
   height: 400,
   legend: {
     position: "none",
   }
  };
  var chart = new google.visualization.LineChart(document.getElementById("monthly_summary_linechart"));
  chart.draw(data, options);
  {% endif %}
}
{% endblock %}
