boto3==1.4.4
dj-database-url==0.4.2
django-filter==1.0.2
django-sslify==0.2.7
django-tables2==1.6.1
Django==1.11.1
git+git://github.com/ojarva/django-googleauth.git@42f9cd8d3a5aee5b032d536ed213fcc0f72fb49a
git+git://github.com/ojarva/wkhtmltopdf-pack.git@a4996edbd9ec1c9dfe316146e7fa17cc8f86a676
gunicorn==19.7.1
pdfkit==0.6.1
psycopg2==2.7.1
pytz==2017.2
redis==2.10.5
requests==2.14.2
slacker==0.9.42
whitenoise==3.3.0
