boto3==1.4.8
brotlipy==0.7.0
dj-database-url==0.4.2
django-compressor==2.2
django-csp==3.3
django-extensions==1.9.9
django-filter==1.1.0
django-googleauth-ng==2.3
django-reversion==2.0.12
django-tables2==1.16.0
django-widget-tweaks==1.4.1
Django==2.0.0
gunicorn==19.7.1
pdfkit==0.6.1
psycopg2==2.7.3.2
pytz==2017.3
raven==6.4.0
redis==2.10.6
requests==2.18.4
schema==0.6.6
slacker==0.9.60
whitenoise==3.3.1
wkhtmltopdf-pack-ng==0.12.3.0
XlsxWriter==1.0.2
