dj-database-url==0.4.1
Django==1.9.7
gunicorn==19.6.0
psycopg2==2.6.2
whitenoise==2.0.6
requests==2.9.1
pytz==2017.2
django-googleauth==2.1
django-filter==1.0.2
wkhtmltopdf-pack==0.12.3.0
pdfkit==0.6.0
redis==2.10.5
django-sslify==0.2.7
django-tables2==1.4.2
slacker==0.9.42
boto3==1.4.4
