{% extends "base.html" %}
{% load django_tables2 %}

{% block title %}Hour markings - Solinor{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url "frontpage" %}">Home</a></li>
  <li class="active">Hours</li>
</ol>

<h2>Hours</h2>

<div class="row top-buttons-row">
  <div class="col-md-12">
    <a class="btn btn-info" href="{% url "users_charts" %}">Charts for people</a>
    <a class="btn btn-info" href="{% url "hours_charts" %}">Charts for hours</a>
  </div>
</div>

<form action="" method="get" class="form-inline">
  <div class="row">
  {% for field in filters.form %}
  <div class="col-md-3">
    <h4>{{ field.label_tag }}</h4>
    <p class="list-group-item-text">{{ field }}</p>
  </div>
  {% endfor %}
  </div>
  <button class="btn btn-primary" type="submit">Filter</button>
</form>

{% render_table table %}


{% endblock %}
