{% extends "base.html" %}
{% load widget_tweaks %}
{% load django_tables2 %}

{% block title %}Hour markings - Solinor{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url "frontpage" %}">Home</a></li>
  <li class="breadcrumb-item active">Hours</li>
</ol>

<h2>Hours</h2>

<div class="row top-buttons-row">
  <div class="col-md-12">
    <a class="btn btn-light" href="{% url "users_charts" %}">Charts for people</a>
    <a class="btn btn-light" href="{% url "hours_charts" %}">Charts for hours</a>
  </div>
</div>

<form action="" method="get">
  <div class="row">
    {% for field in filters.form %}
    <div class="col-md-4">
      <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
      {{ field|add_class:'form-control' }}
    </div>
    {% endfor %}
    <div class="col-md-4">
      <button style="margin-top:0.8em" class="btn btn-primary" type="submit">Filter</button>
    </div>
  </div>
</form>

{% render_table table %}


{% endblock %}
