{% extends "base.html" %}

{% block title %}Amazon invoice: {{ linked_account.name }} - Solinor{% endblock %}

{% block content %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url "frontpage" %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url "amazon_overview" %}">Amazon</a></li>
      <li class="breadcrumb-item active">Invoice: {{ linked_account.name }}</li>
    </ol>

    <h2>Amazon invoice details for {{ linked_account.name }}</h2>

    <div class="dropdown top-bar-dropdown">
      <button class="btn btn-light dropdown-toggle" type="button" id="selectAwsInvoiceMonth" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Browse AWS invoices
        <span class="caret"></span>
      </button>
      <div class="dropdown-menu" aria-labelledby="selectAwsInvoiceMonth">
        {% for entries_month in months %}
        <a class="dropdown-item" href="{% url "amazon_invoice" linked_account.linked_account_id entries_month.year entries_month.month %}">{{ entries_month }}</a>
        {% endfor %}
      </div>
    </div>
    {% if linked_users %}
    {% for linked_user in linked_users %}
      <a href="{% url "person_month" linked_user.guid year month %}" role="button" class="btn btn-light">User: {{ linked_user.display_name }}</a>
    {% endfor %}
    {% endif %}
    {% if linked_projects %}
    {% for linked_project in linked_projects %}
    <a href="{% url "project" linked_project.guid %}" role="button" class="btn btn-light">Project: {{ linked_project.client }} - {{ linked_project.name }}</a>
    {% endfor %}
    {% endif %}

    <div class="row top-buttons-row">
      <div class="col-md-12">
        {% if previous_invoices %}
        <div class="dropdown top-bar-dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="selectInvoiceMonth" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Browse invoices
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="selectInvoiceMonth">
            {% for previous_invoice in previous_invoices %}
            <a class="dropdown-item" href="{% url "invoice" previous_invoice.invoice_id %}">{{ previous_invoice.date }}</a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% include "snippets/amazon_invoice_details.html" %}
      </div>
    </div>
  </div>
{% endblock %}
