{% extends "base.html" %}
{% load humanize %}
{% block title %}Amazon invoices - Solinor{% endblock %}
{% block header %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
  var billing_data = google.visualization.arrayToDataTable({{ billing_data_json|safe }});
  var billing_options = { title: 'Billing' };
  var billing_chart = new google.visualization.PieChart(document.getElementById('billing_distribution_chart'));

  var linking_data = google.visualization.arrayToDataTable({{ linking_data_json|safe }});
  var linking_options = { title: 'Linking' };
  var linking_chart = new google.visualization.PieChart(document.getElementById('linking_distribution_chart'));

  linking_chart.draw(linking_data, linking_options);
  billing_chart.draw(billing_data, billing_options);
}
</script>
{% endblock %}
{% block content %}
    <ol class="breadcrumb">
      <li><a href="{% url 'frontpage' %}">Home</a></li>
      <li class="active">Amazon Invoices</li>
    </ol>

    <h2>AWS accounts</h2>

    <div class="row">
      <div class="col-md-6">
        <div id="linking_distribution_chart"></div>
      </div>
      <div class="col-md-6">
        <div id="billing_distribution_chart"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>AWS account</th>
              <th>Linked</th>
              <th>Linked projects</th>
              <th>Linked users</th>
              <th>Billing</th>
            </tr>
          </thead>
          <tbody>
          {% for aws_account in aws_accounts %}
            {% if aws_account.pk %}
            <tr>
              <td><a href="{% url "amazon_invoice" aws_account.pk today.year today.month %}">{{ aws_account.name }}</a></td>
              <td>{{ aws_account.has_linked_properties }}</td>
              <td>{{ aws_account.project_set.all.count }}</td>
              <td>{{ aws_account.feetuser_set.all.count }}</td>
              <td>{{ aws_account.billing|floatformat:2|intcomma }} USD</td>
            </tr>
            {% endif %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
