{% load static %}
{% load compress %}
{% load tagmanager %}

<!doctype html>
<html>
<head>
    {% tag_manager_snippet %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#222">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="manifest" href="{% url "manifest" %}">
    <link rel="dns-prefetch" href="//app.10000ft.com">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//www.googletagmanager.com">

    {% compress css %}
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "django_tables2/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/invoice_page.css" %}" rel="stylesheet">
    {% endcompress %}
    <link rel="prefetch" href="{% static "fonts/glyphicons-halflings-regular.woff2" %}" as="font">

    <script defer type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {% compress js %}
    <script defer src="{% static "js/turbolinks.js" %}"></script>
    <script defer src="{% static "js/jquery.3.2.1.min.js" %}"></script>
    <script defer src="{% static "js/popper.min.js" %}"></script>
    <script defer src="{% static "js/bootstrap.min.js" %}"></script>
    <script defer src="{% static "js/base.js" %}"></script>
    <script defer src="{% static "js/header_flex_hours.js" %}"></script>
    <script defer src="{% static "js/jquery.sparkline.2.1.2.min.js" %}"></script>
    {% endcompress %}
    {% block header %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url "frontpage" %}">Solinor Finance</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{% url "projects_list" %}">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "users_list" %}">People</a></li>
        <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="{% url "hours_browser" %}" id="navDropdownHours" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hours</a>
         <div class="dropdown-menu" aria-labelledby="navDropdownHours">
           <a class="dropdown-item" href="{% url "hours_browser" %}">Browser</a>
           <a class="dropdown-item" href="{% url "users_charts" %}">Charts (people)</a>
           <a class="dropdown-item" href="{% url "hours_charts" %}">Charts (hours/projects)</a>
           {% if request.user.is_staff %}
           <a class="dropdown-item" href="{% url "hours_sickleaves" %}">Sick leaves <i class="fa fa-lock" aria-hidden="true"></i></a>
           <a class="dropdown-item" href="{% url "flex_overview" %}">Flex saldos <i class="fa fa-lock" aria-hidden="true"></i></a>
           <a class="dropdown-item" href="{% url "hours_overview" %}">Overview</a>
           {% endif %}
         </div>
       </li>
       <li class="nav-item"><a class="nav-link" href="{% url "amazon_overview" %}">Amazon</a></li>
       <li class="nav-item"><a class="nav-link" href="{% url "your_flex_hours" %}">Flex <span class="badge badge-secondary" id="flex_hours_count" data-turbolinks-permanent>New</span></a></li>

       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="{% url "admin:index" %}" id="navDropdownActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</a>
         <div class="dropdown-menu" aria-labelledby="navDropdownActions">
           <a class="dropdown-item" href="{% url "queue_slack_notification" %}">Slack notifications <i class="fa fa-lock" aria-hidden="true"></i></a>
           <a class="dropdown-item" href="{% url "admin_sync" %}">Sync <i class="fa fa-lock" aria-hidden="true"></i></a>
           <a class="dropdown-item" href="{% url "admin:index" %}">Admin <i class="fa fa-lock" aria-hidden="true"></i></a>
         </div>
       </li>
      </ul>
      <form method="get" action="{% url 'search' %}" class="form-inline my-2 my-lg-0">
         <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <main role="main">
    <div class="body-container">
      <div class="container">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
      </div>
    </div>
  </main>

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>Problems? Want to improve something? <a href="https://github.com/solinor/solinor-invoice-checking">Code available in GitHub</a>.</p>
    </div>
  </footer>

<script type="text/javascript">
pageJs = function() {
  {% block pageJs %}
  console.log("Placeholder pageJs");
  {% endblock %}
}
</script>
</body>
</html>
