{% load static %}
{% load compress %}
{% load tagmanager %}
{% load pingdom_rum %}

<!doctype html>
<html>
<head>
    {% tag_manager_snippet %}
    {% pingdom_rum_snippet %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    {% compress css %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/invoice_page.css' %}" rel="stylesheet">
    {% endcompress %}
    {% compress js %}
    <script src="{% static 'js/jquery.1.12.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endcompress %}
    {% block header %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% if request.user.is_authenticated %}{% url "frontpage" %}{% else %}#{% endif %}">Solinor Financials</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {% if request.user.is_authenticated %}
          <li><a href="{% url "frontpage" %}">Home</a></li>
          <li><a href="{% url "projects_list" %}">Projects</a></li>
          <li><a href="{% url "people" %}">People</a></li>
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Hours <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'people_hourmarkings' %}">Overview</a></li>
              <li><a href="{% url "hours_list" %}">Browser</a></li>
              <li><a href="{% url 'people_charts' %}">Charts (people)</a></li>
              <li><a href="{% url 'hours_charts' %}">Charts (hours/projects)</a></li>
            </ul>
          </li>
          <li><a href="{% url "amazon_overview" %}">Amazon</a></li>
          {% if tenkf_user %}
          <li><a href="{% url "person_flex_hours" tenkf_user.guid %}">Flex <span class="label label-default">New</span></a></li>
          {% endif %}
          {% endif %}
          {% block navbar_items %}{% endblock %}
        </ul>
        {% if request.user.is_staff %}
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Profile
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'queue_slack_notification' %}">Slack notifications</a></li>
              <li><a href="{% url 'admin:index' %}">Admin</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="body-container">
    <div class="container">
      {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}" role="alert">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>
