{% extends "base.html" %}

{% block content %}
<table class="table">
  <thead>
    <tr>
    <th>Date</th>
    <th>Project</th>
    <th>Approved</th>
    <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in invoices %}
    <tr>
      <td>{{ entry.year }}-{{ entry.month }}</td>
      <td><a href="{% url 'invoice' entry.year entry.month entry.id %}">{{ entry.client }} - {{ entry.project }}</td>
      <td>{{ entry.is_approved }}</td>
      <td>{{ entry.has_comments }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
