{% extends "base.html" %}
{% load humanize %}
{% load django_tables2 %}
{% block title %}Finance - Solinor{% endblock %}

{% block pageJs %}
function numberWithCommas(x) {
  var parts = x.toString().split(".");
  parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  return parts.join(".");
}

$.get("{% url "frontpage_stats" %}", function(data) {
  if (data.your_unsubmitted_entries > 0) {
    $("#your_unsubmitted_entries").addClass("text-danger");
    $("#your_unsubmitted_entries").html(data.your_unsubmitted_entries + " <i class='fa fa-exclamation-circle'></i>");
  } else {
    $("#your_unsubmitted_entries").html(data.your_unsubmitted_entries + " <i class='fa fa-check-circle'></i>");
  }
  $("#your_last_hour_marking").html(data.your_last_hour_marking);

  var fields = [
    ["your_hours_this_week", 2, "h"],
    ["your_billing_ratio", 0, "%"],
    ["company_billing_money_30d", 0, "&euro;"],
    ["company_billing_ratio_30d", 0, "%"],
    ["company_billing_money_365d", 0, "&euro;"],
    ["company_billing_ratio_365d", 0, "%"],
    ["company_avg_invoicing_30d", 0, "&euro;/h"],
    ["company_avg_invoicing_365d", 0, "&euro;/h"],
    ["company_large_accounts_365d", 0, ""],
    ["company_billing_unsubmitted_money", 0, "&euro;"],
    ["company_unsubmitted_entries", 0, " - "],
    ["company_billing_unapproved_money", 0, "&euro;"],
    ["company_unapproved_entries", 0, " - "],
    ["company_no_descriptions_30d", 0, ""],
    ["company_no_phases_categories_30d", 0, ""]
  ]
  for (var i in fields) {
    if (typeof data[fields[i][0]] === "number") {
      $("#" + fields[i][0]).html(numberWithCommas(data[fields[i][0]].toFixed(fields[i][1])) + fields[i][2]);
    } else {
      $("#" + fields[i][0]).html("?");
    }
  }
  $("#your_billing_ratio_sparkline").sparkline(data.your_daily_billing_ratio, {"disableTooltips": true});
});
$(".sparkline-inline-content").sparkline('html', {"width": "100%", "type": "bar", "disableTooltips": true});
{% endblock %}
{% block content %}

<h3>Your information</h3>

<div class="row py-2">
  <div class="col-md-3 mb-4 clickable-area" onclick="Turbolinks.visit('{% url "your_unsubmitted_hours" %}');">
    <div class="card your-information-card">
      <div class="card-body text-center">
        <p class="card-title">Unsubmitted entries</p>
        <h5 id="your_unsubmitted_entries">Loading</h5>
        </div>
    </div>
  </div>
  <div class="col-md-3 mb-4">
    <div class="card your-information-card">
      <div class="card-body text-center">
        <p class="card-title">Last hour marking</p>
        <h5 id="your_last_hour_marking">Loading</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-4">
    <div class="card your-information-card">
      <div class="card-body text-center">
        <p class="card-title">Hours for past 7 days</p>
        <h5 id="your_hours_this_week">Loading</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-4">
    <div class="card your-information-card">
      <div class="card-body text-center">
        <p class="card-title">Your billing % <small>Past 30d</small></p>
        <p class="lead"><span id="your_billing_ratio">Loading</span> <span id="your_billing_ratio_sparkline"></span></p>
      </div>
    </div>
  </div>
</div>

{% if your_invoices %}
<h3>Your projects</h3>

{% include "snippets/frontpage_table.html" with invoices=your_invoices %}

{% endif %}


<h3>Company</h3>

<h5>Past 365d - company-wide objectives</h5>

<div class="row py-2">
  <div class="col-md-3 mb-4 clickable-area" onclick="Turbolinks.visit('{% url "company_stats" %}');">
    <div class="card your-information-card">
      <div class="card-body text-center">
        <p class="card-title">Billing %</p>
        <h5 id="company_billing_ratio_365d">Loading</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-4 clickable-area" onclick="Turbolinks.visit('{% url "company_stats" %}');">
    <div class="card your-information-card">
      <div class="card-body text-center">
        <p class="card-title">Billing &euro;</>
        <h5 id="company_billing_money_365d">Loading</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-4">
    <div class="card your-information-card">
      <div class="card-body text-center">
        <p class="card-title">Avg invoicing/h</p>
        <h5 id="company_avg_invoicing_365d">Loading</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-4">
    <div class="card your-information-card">
      <div class="card-body text-center">
        <p class="card-title">Accounts &gt;300k&euro;</p>
        <h5 id="company_large_accounts_365d">Loading</h5>
      </div>
    </div>
  </div>
</div>

<h5>Past 30d</h5>

<div class="row py-2">
  <div class="col-md-3 mb-4 clickable-area" onclick="Turbolinks.visit('{% url "company_stats" %}');">
    <div class="card your-information-card">
      <div class="card-body text-center">
        <p class="card-title">Billing %</p>
        <h5 id="company_billing_ratio_30d">Loading</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-4 clickable-area" onclick="Turbolinks.visit('{% url "company_stats" %}');">
    <div class="card your-information-card">
      <div class="card-body text-center">
        <p class="card-title">Billing &euro;</p>
        <h5 id="company_billing_money_30d">Loading</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-4">
    <div class="card your-information-card">
      <div class="card-body text-center">
        <p class="card-title">Avg invoicing/h</p>
        <h5 id="company_avg_invoicing_30d">Loading</h5>
      </div>
    </div>
  </div>
</div>

<h5>Hour markings</h5>
<div class="row py-2">
  <div class="col-md-3 mb-4 clickable-area" onclick="Turbolinks.visit('{% url "hours_browser" %}?sort=-date&status=Unsubmitted&date__gte={{ company_error_entries_date_gte }}');">
    <div class="card your-information-card">
      <div class="card-body text-center">
        <p class="card-title">Unsubmitted entries</p>
        <h5><span id="company_unsubmitted_entries">Loading</span> <span id="company_billing_unsubmitted_money"></span></h5>
        </div>
    </div>
  </div>
  <div class="col-md-3 mb-4 clickable-area" onclick="Turbolinks.visit('{% url "hours_browser" %}?sort=-date&status=Pending+Approval&date__gte={{ company_error_entries_date_gte }}');">
    <div class="card your-information-card">
      <div class="card-body text-center">
        <p class="card-title">Unapproved entries</p>
        <h5><span id="company_unapproved_entries">Loading</span> <span id="company_billing_unapproved_money"></span></h5>
        </div>
    </div>
  </div>
  <div class="col-md-3 mb-4">
    <div class="card your-information-card">
      <div class="card-body text-center">
        <p class="card-title">No descriptions <small>Past 30d</small></p>
        <h5 id="company_no_descriptions_30d">Loading</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-4">
    <div class="card your-information-card">
      <div class="card-body text-center">
        <p class="card-title">No phases/categories <small>Past 30d</small></p>
        <h5 id="company_no_phases_categories_30d">Loading</h5>
      </div>
    </div>
  </div>
</div>

<h3>Our current projects</h3>

<p class="text-muted">Sort <a href="?sorting=alphabetically">alphabetically</a>, <a href="?sorting=billing">by billing</a>, <a href="?sorting=hours">by amount of hours</a></p>

<div class="album py-5 bg-light">
  <div class="container-fluid">
    <div class="row">
      {% for card in cards %}
      <div class="project-card-container mx-auto">
        <div class="card mb-4 box-shadow">
          <span class="clickable-area project-card-image" onclick="Turbolinks.visit('{% url "project" card.project.guid %}')">
            <img class="card-img-top" src="{{ card.project.thumbnail_url }}">
          </span>
          <div class="card-header clickable-area project-card-title" onclick="Turbolinks.visit('{% url "project" card.project.guid %}')"><h5>{{ card.project }}</h5></div>
          <div class="card-body">
            <p class="card-text">
              <p class="project-card-description" data-toggle="popover" title="Description" data-content="{{ card.project.description }}">{{ card.project.description }}</p> {% comment %}TODO: this will break when there is quotes in project.description{% endcomment %}
              <div class="row">
                <div class="col-md-12"><h6 data-toggle="tooltip" data-placement="top" title="Billing for past 60 days."><p class="text-floating-left">Billing</p><p class="text-floating-right">{{ card.money_sum|floatformat:"0"|intcomma }}€</p></h6></div>
                <div class="col-md-12" style="text-align: center"><span class="sparkline-inline-content">{% for value in card.money %}{{ value }}{% if not forloop.last %},{% endif %}{% endfor %}</span></div>
              </div>
              <div class="row">
                <div class="col-md-12"><h6 data-toggle="tooltip" data-placement="top" title="Incurred hours for past 60 days."><p class="text-floating-left">Hours</p><p class="text-floating-right">{{ card.hours_sum|floatformat:"0"|intcomma }}h</p></h6></div>
                <div class="col-md-12" style="text-align: center"><span class="sparkline-inline-content">{% for value in card.hours %}{{ value }}{% if not forloop.last %},{% endif %}{% endfor %}</span></div>
              </div>
              <div class="row">
                <div class="col-md-12"><h6 data-toggle="tooltip" data-placement="top" title="Average number of people working on the project on weekdays during past 60 days."><p class="text-floating-left">People</p><p class="text-floating-right">{{ card.people_avg|floatformat:"1" }} per weekday</p></h6></div>
                <div class="col-md-12" style="text-align: center"><span class="sparkline-inline-content">{% for value in card.people %}{{ value }}{% if not forloop.last %},{% endif %}{% endfor %}</span></div>
              </div>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://app.10000ft.com/viewproject?id={{ card.project.project_id }}" target="_blank" rel="noopener" class="btn btn-sm btn-outline-secondary">10000ft</a>
                <a href="{% url "project" card.project.guid %}" class="btn btn-sm btn-outline-secondary">View</a>
              </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
