{% extends "base.html" %}

{% block pageJs %}
google.charts.load("current", {packages:["treemap", "corechart", "calendar"]});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
  {% include "snippets/treemap_charts.js" %}
  {% include "snippets/line_charts.js" %}
  {% include "snippets/calendar_charts.js" %}
}
{% endblock %}

{% block title %}People - Solinor{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url "frontpage" %}">Home</a></li>
  <li><a href="{% url "hours_browser" %}">Hours</a></li>
  <li class="active">Charts</li>
</ol>

<h2>Overview</h2>

<div class="row top-buttons-row">
  <div class="col-md-12">
    <a class="btn btn-default" href="{% url "users_charts" %}">Charts for people</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {% include "snippets/treemap_charts.html" %}
    {% include "snippets/line_charts.html" %}
    {% include "snippets/calendar_charts.html" %}
  </div>
</div>

{% endblock %}
