{% extends "base.html" %}

{% block pageJs %}
google.charts.load("current", {"packages":["corechart"]});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
  {% for chart_name, chart_data in charts.items %}
    var {{ chart_name }}_data = google.visualization.arrayToDataTable({{ chart_data.json_data|safe }});
    var {{ chart_name }}_options = { title: "{{ chart_data.title }}" };
    var {{ chart_name }}_chart = new google.visualization.PieChart(document.getElementById("{{ chart_name }}"));
    {{ chart_name }}_chart.draw({{ chart_name }}_data, {{ chart_name }}_options);
  {% endfor %}

  {% for item in per_person_categories_data %}
    var per_person_categories_data_{{ item.0 }} = google.visualization.arrayToDataTable({{ item.2|safe }});
    var per_person_categories_options_{{ item.0 }} = { title: "Categories for {{ item.1 }}" };
    var per_person_categories_chart_{{ item.0 }} = new google.visualization.PieChart(document.getElementById("per_person_categories_{{ item.0 }}"));
    per_person_categories_chart_{{ item.0 }}.draw(per_person_categories_data_{{ item.0 }}, per_person_categories_options_{{ item.0 }});
  {% endfor %}
}
{% endblock %}

{% block title %}{{ invoice.full_name }} - {{ invoice.date }} - Solinor{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url "frontpage" %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url "projects_list" %}">Projects</a></li>
  <li class="breadcrumb-item">{% if invoice.project_m %}<a href="{% url "project" invoice.project_m.guid %}">Project</a>{% else %}Project{% endif %}</li>
  <li class="breadcrumb-item"><a href="{% url "invoice" invoice.invoice_id %}">Invoice</a></li>
  <li class="breadcrumb-item active">Charts</li>
</ol>

<h2>Invoice charts for {{ invoice.full_name }} -- {{ invoice.date }}</h2>

<div class="row top-buttons-row">
  <div class="col-md-12">
    {% if previous_invoices %}
    <div class="dropdown top-bar-dropdown">
      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Select month
        <span class="caret"></span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {% for previous_invoice in previous_invoices %}
        <a class="dropdown-item" href="{% url "invoice_charts" previous_invoice.invoice_id %}">{{ previous_invoice.date }}</a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if invoice.project_m %}
    <a class="btn btn-light" href="{% url "project_charts" invoice.project_m.guid %}">Project charts</a>
    {% endif %}
  </div>
</div>

<h3>General</h3>
<div class="row">
  <div class="col-md-6">
    <div id="per_category_hours" class="piechart"></div>
  </div>
  <div class="col-md-6">
    <div id="per_category_billing" class="piechart"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div id="per_person_hours" class="piechart"></div>
  </div>
  <div class="col-md-6">
    <div id="per_person_billing" class="piechart"></div>
  </div>
</div>

<h3>Per person</h3>

<div class="row">
  {% for item in per_person_categories_data %}
  <div class="col-md-6">
    <div id="per_person_categories_{{ item.0 }}" class="piechart"></div>
  </div>
  {% endfor %}
</div>

{% endblock %}
