{% extends "base.html" %}

{% block header %}

    <style>
    .invoice-box{
        max-width:800px;
/*        margin:auto;*/
        padding:30px;
        border:1px solid #eee;
        box-shadow:0 0 10px rgba(0, 0, 0, .15);
        font-size:16px;
        line-height:24px;
        font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color:#555;
    }

    .invoice-box table{
        width:100%;
        line-height:inherit;
        text-align:left;
    }

    .invoice-box table td{
        padding:5px;
        vertical-align:top;
    }

    .invoice-box .information td:nth-child(2) {
      text-align: right;
    }
    .invoice-box .top td:nth-child(2) {
      text-align: right;
    }

    .invoice-box table tr td:nth-child(1n+2){
        text-align:right;
    }

    .invoice-box table tr.top table td{
        padding-bottom:20px;
    }

    .invoice-box table tr.top table td.title{
        font-size:45px;
        line-height:45px;
        color:#333;
    }

    .invoice-box table tr.information table td{
        padding-bottom:40px;
    }

    .invoice-box table tr.heading td{
        background:#eee;
        border-bottom:1px solid #ddd;
        font-weight:bold;
    }

    .invoice-box table tr.details td{
        padding-bottom:20px;
    }

    .invoice-box table tr.item td{
        border-bottom:1px solid #eee;
    }

    .invoice-box table tr.item.last td{
        border-bottom:none;
    }

    .invoice-box table tr.total td:nth-child(1n+2){
        border-top:2px solid #eee;
        font-weight:bold;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td{
            width:100%;
            display:block;
            text-align:center;
        }

        .invoice-box table tr.information table td{
            width:100%;
            display:block;
            text-align:center;
        }
    }
    </style>
    {% endblock %}

{% block content %}
    <ol class="breadcrumb">
      <li><a href="{% url 'frontpage' %}">Home</a></li>
      <li><a href="{% url 'projects_list' %}">Projects</a></li>
      <li><a href="{% url 'project' invoice.project_m.guid %}">Project</a></li>
      <li class="active"><a href="{% url 'invoice' invoice.invoice_id %}">Invoice</a></li>
    </ol>
    <h2>Invoice details for {{ client }} - {{ project }} -- {{ year }}-{{ month }}</h2>
    <div class="row" style="padding-bottom: 1em">
      <div class="col-md-12">
        <a class="btn btn-info" href="{% url 'get_pdf' invoice_id 'hours' %}" role="button">Download hours</a>
        <a class="btn btn-info" href="{% url 'invoice_hours' invoice_id %}" role="button">View hours</a>
        {% if invoice.project_m %}
        <a class="btn btn-info" href="https://app.10000ft.com/viewproject?id={{ invoice.project_m.project_id }}" role="button">View project in 10000ft</a>
        <a class="btn btn-info" href="https://app.10000ft.com/editproject?id={{ invoice.project_m.project_id }}" role="button">Edit project in 10000ft</a>
        {% endif %}
        {% if recent_invoice %}
        <form method="post" action="{% url 'queue_update' %}" class="form-inline" style="display: inline-block">
          {% csrf_token %}
          <input type="hidden" name="back" value="{{ request.get_full_path }}">
          <button role="submit" class="btn btn-info">Update data from 10000ft</button>
        </form>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include "invoice.html" %}
        {% if last_month_invoice %}
          {% include "last_month_invoice.html" %}
        {% endif %}
        {% include "incorrect_data.html" %}
      </div>

      <div class="col-md-4">
        <div class="well">
          {% include "invoice_commenting_form.html" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
