{% load humanize %}
<html>
<head>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <table class="table table-striped table-condensed">
    <tbody>
    {% for entry in entries %}
      <tr>
        <td>{{ entry.date }}
        <td>{{ entry.user_name }}</td>
        <td>{{ entry.bill_rate|floatformat:2 }}&euro;</td>
        <td>{{ entry.incurred_hours }}h</td>
        <td>{{ entry.incurred_money|floatformat:2 }}&euro;</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</body>
</html>
