{% extends "base.html" %}

{% block content %}
<h2>Hour markings for past 30 days</h2>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th>&Sigma;</th>
      {% for day in days %}
      <th>{{ day.date }}</th>
      {% endfor %}
    </tr>
    <tr>
      <th></th>
      <th></th>
      {% for day in days %}
      <th>{{ day.weekday }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for guid, person in people.items %}
      <tr>
        <td><a href="{% url "person_month" guid today.year today.month %}">{{ person.name }}</a></td>
        <td>{{ person.sum_of_hours }}</td>
        {% for day in person.days %}
        <td>{% if day.hours > 0 %}{{ day.hours }}{% endif %}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
