{% extends "base.html" %}
{% block title %}{{ person.display_name }}{% endblock %}
{% block header %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
google.charts.load("current", {packages:["calendar", "treemap"]});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
  {% include "snippets/calendar_charts.js" %}
  {% include "snippets/treemap_charts.js" %}
}
</script>
{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'frontpage' %}">Home</a></li>
  <li><a href="{% url 'people' %}">People</a></li>
  <li class="active">Person: {{ person.first_name }}</li>
</ol>

<h2>{{ person.display_name }}</h2>


<div class="row" style="margin-bottom: 1em">
  <div class="col-md-12">
  <div class="dropdown" style="display: inline-block">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Select month
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      {% for entries_month in months %}
      <li><a href="{% url "person" person.guid entries_month.year entries_month.month %}">{{ entries_month }}</a></li>
      {% endfor %}
    </ul>
  </div>
    <a  rel="noopener" href="https://app.10000ft.com/?user_id={{ person.guid }}" role="button" class="btn btn-info">View {{ person.first_name }} in 10000ft</a>
    <a class="btn btn-info" href="{% url 'person_flex_hours' person.guid %}">Flex hours</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {% include "snippets/calendar_charts.html" %}
    {% include "snippets/treemap_charts.html" %}
  </div>
</div>
{% endblock %}
