{% extends "base.html" %}
{% block header %}
<script>
$('#person-hours a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
});
</script>
{% endblock %}
{% block title %}{{ person.display_name }}{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'frontpage' %}">Home</a></li>
  <li><a href="{% url 'people' %}">People</a></li>
  <li><a href="{% url 'person_details' person.guid %}">Person: {{ person.first_name }}</a></li>
  <li class="active">{{ year }}-{{ report_number }}</li>
</ol>

<h2>{{ person.display_name }} - {{ year }}-{{ report_number }}</h2>



<div class="row" style="margin-bottom: 1em">
  <div class="col-md-12">
  <div class="dropdown" style="display: inline-block">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Select {{ month_or_week }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
       {% if months %}
       {% include "snippets/person_hour_dropdown_month.html"%}
       {%  else %}
       {% include "snippets/person_hour_dropdown_week.html"%}
       {%  endif %}
    </ul>
  </div>
    <a href="https://app.10000ft.com/?user_id={{ person.guid }}" role="button" class="btn btn-info">View {{ person.first_name }} in 10000ft</a>
    {% if person.amazon_account %}
    {% for account in person.amazon_account.all %}
    <a href="{% url "amazon_invoice" account.linked_account_id year month %}" role="button" class="btn btn-info">Amazon: {{ account.name }}</a>
    {% endfor %}
    {% endif %}
    <a class="btn btn-info" href="{% url 'person_details' person.guid %}">Charts</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="person-hours">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#all_entries" role="tab" data-toggle="tab">All hours <span class="badge">{{ stats.total_entries }}</span></a></li>
        <li role="presentation"><a href="#non_phase_specific" role="tab" data-toggle="tab">Non-phase specific hours <span class="badge">{{ stats.non_phase_specific_count }}</span></a></li>
        <li role="presentation"><a href="#empty_descriptions" role="tab" data-toggle="tab">Empty descriptions <span class="badge">{{ stats.empty_descriptions_count }}</span></a></li>
        <li role="presentation"><a href="#billable_incorrect_price" role="tab" data-toggle="tab">Incorrect prices <span class="badge">{{ stats.billable_incorrect_price_count }}</span></a></li>
        <li role="presentation"><a href="#not_approved_hours" role="tab" data-toggle="tab">Not approved  <span class="badge">{{ stats.not_approved_hours_count }}</span></a></li>
        <li role="presentation"><a href="#no_category" role="tab" data-toggle="tab">No category  <span class="badge">{{ stats.no_category_count }}</span></a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="all_entries">
          {% include "snippets/person_hour_table.html" with entries=hour_entries %}
        </div>
        <div role="tabpanel" class="tab-pane" id="non_phase_specific">
          {% include "snippets/person_hour_table.html" with entries=stats.non_phase_specific %}
        </div>
        <div role="tabpanel" class="tab-pane" id="empty_descriptions">
          {% include "snippets/person_hour_table.html" with entries=stats.empty_descriptions %}
        </div>
        <div role="tabpanel" class="tab-pane" id="billable_incorrect_price">
          {% include "snippets/person_hour_table.html" with entries=stats.billable_incorrect_price %}
        </div>
        <div role="tabpanel" class="tab-pane" id="not_approved_hours">
          {% include "snippets/person_hour_table.html" with entries=stats.not_approved_hours %}
        </div>
        <div role="tabpanel" class="tab-pane" id="no_category">
          {% include "snippets/person_hour_table.html" with entries=stats.no_category %}
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
