{% extends "base.html" %}
{% block title %}{{ person.display_name }}{% endblock %}
{% block pageJs %}
google.charts.load("current", {packages:["calendar", "treemap"]});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
  {% include "snippets/calendar_charts.js" %}
  {% include "snippets/treemap_charts.js" %}
}
{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url "frontpage" %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url "users_list" %}">People</a></li>
  <li class="breadcrumb-item active">Person: {{ person.first_name }}</li>
</ol>

<h2>{{ person.display_name }}</h2>


<div class="row top-buttons-row">
  <div class="col-md-12">
  <div class="dropdown top-bar-dropdown">
    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Select month
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
      {% for entries_month in months %}
      <a class="dropdown-item" href="{% url "person_month" person.guid entries_month.year entries_month.month %}">{{ entries_month }}</a>
      {% endfor %}
    </div>
  </div>
    <a  rel="noopener" href="https://app.10000ft.com/?user_id={{ person.guid }}" role="button" class="btn btn-light">View {{ person.first_name }} in 10000ft</a>
    <a class="btn btn-info" href="{% url "person_flex_hours" person.guid %}">Flex hours</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {% include "snippets/calendar_charts.html" %}
    {% include "snippets/treemap_charts.html" %}
  </div>
</div>
{% endblock %}
