{% extends "base.html" %}

{% block header %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
google.charts.load("current", {packages:["calendar", "corechart"]});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
  {% include "snippets/calendar_charts.js" %}
  {% include "snippets/line_charts.js" %}
}
</script>
{% endblock %}

{% block title %}{{ project.client }} - Solinor{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'frontpage' %}">Home</a></li>
  <li><a href="{% url 'projects_list' %}">Projects</a></li>
  <li><a href="{% url 'project' project.guid %}">Project</a></li>
  <li class="active">Charts</li>
</ol>

<h2>Project charts for {{ project.client }} -- {{ project.name }}</h2>

<div class="row">
  <div class="col-md-12">
    {% include "snippets/calendar_charts.html" %}
    {% include "snippets/line_charts.html" %}
  </div>
</div>

{% endblock %}
