{% extends "base.html" %}
{% load humanize %}
{% load django_tables2 %}
{% block title %}{{ project.client }} - {{ project.name }} - Invoices{% endblock %}
{% block header %}
<style>

.invoice-table .incurred_hours, .invoice-table .incurred_money, .invoice-table .bill_rate_avg, .invoice-table .incorrect_entries_count, .billable_percentage {
  text-align: right;
}
</style>{% endblock %}
{% block content %}

<ol class="breadcrumb">
  <li><a href="{% url 'frontpage' %}">Home</a></li>
  <li><a href="{% url 'projects_list' %}">Projects</a></li>
  <li class="active"><a href="{% url 'project' project.guid %}">Project</a></li>
</ol>

<h2>{{ project.client }} - {{ project.name}} </h2>

<div class="row" style="padding-bottom: 1em">
  <div class="col-md-12">
    <a class="btn btn-info" href="https://app.10000ft.com/viewproject?id={{ project.project_id }}" role="button">View project in 10000ft</a>
    <a class="btn btn-info" href="https://app.10000ft.com/editproject?id={{ project.project_id }}" role="button">Edit project in 10000ft</a>
    <a class="btn btn-info" href="{% url 'project_charts' project.guid %}" role="button">Charts</a>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    {% render_table invoices %}
  </div>
</div>
{% endblock %}
