{% extends "base.html" %}

{% block title %}Search - {{ q }}{% endblock %}

{% block content %}
<h1>Search - {{ q }}</h1>

<div class="py-4">
<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" name="q" id="q" placeholder="{{ q }}">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>
</div>

{% if users %}
<ul>
{% for user in users %}
<li><a href="{% url "person_overview" user.guid %}">{{ user }}</a> - <a href="{% url "person_flex_hours" user.guid %}">flex</a> - <a href="https://app.10000ft.com/?user_id={{ user.guid }}">10000ft</a></li>
{% endfor %}
</ul>
{% endif %}

{% if projects %}
<ul>
{% for project in projects %}
<li><a href="{% url "project" project.guid %}">{{ project }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
