{% extends "base.html" %}
{% load humanize %}

{% block content %}

<h2>Unsubmitted hours notification</h2>
<form method="post" action="{% url "queue_slack_notification" %}">
  {% csrf_token %}
  <input type="hidden" name="back" value="{{ request.get_full_path }}">
  <input type="hidden" name="type" value="unsubmitted">
  <div class="form-group">
    <label for="start_date">First day for notifications</label>
    <input class="form-control" type="date" name="start_date" value="{{ unsubmitted_start_date }}">
  </div>
  <div class="form-group">
    <label for="end_date">Last day for notifications</label>
    <input class="form-control" type="date" name="end_date" value="{{ unsubmitted_end_date }}">
  </div>
  <button role="submit" name="Send notifications for unsubmitted hours" class="btn btn-default">Send notifications for unsubmitted hours (last update finished {{ last_unsubmitted_notification_at|naturaltime }})</button>
</form>

<h2>Unapproved hours notification</h2>
<form method="post" action="{% url "queue_slack_notification" %}">
  {% csrf_token %}
  <input type="hidden" name="back" value="{{ request.get_full_path }}">
  <input type="hidden" name="type" value="unapproved">
  <div class="form-group">
    <label for="start_date">First day for notifications</label>
    <input class="form-control" type="date" name="start_date" value="{{ unapproved_start_date }}">
  </div>
  <div class="form-group">
    <label for="end_date">Last day for notifications</label>
    <input class="form-control" type="date" name="end_date" value="{{ unapproved_end_date }}">
  </div>
  <button role="submit" name="Send notifications for unapproved hours" class="btn btn-default">Send notifications for unapproved hours (last update finished {{ last_unapproved_notification_at|naturaltime }})</button>
</form>


<h2>History</h2>

<ul>
  {% for entry in slack_notification_history %}
  <li>{{ entry }}</li>
  {% endfor %}
</ul>
{% endblock %}
