{% extends "base.html" %}

{% block title %}Unsubmitted hours - Solinor Finance{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url "frontpage" %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url "users_list" %}">People</a></li>
  <li class="breadcrumb-item"><a href="{% url "person_details" person.guid %}">Person: {{ person.first_name }}</a></li>
  <li class="breadcrumb-item active">Unsubmitted hours</li>
</ol>

<h2>Unsubmitted hours</h2>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Date</th>
      <th>Client</th>
      <th>Project</th>
      <th>Category</th>
      <th>Phase</th>
      <th>Notes</th>
      <th class="number-column">Hours</th>
      <th>Can submit automatically</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in unsubmitted_entries %}
    <tr>
      <td>{{ entry.date }}</td>
      <td>{{ entry.project_m.client_m.name }}</td>
      <td>{{ entry.project_m.name }}</td>
      <td>{{ entry.category }}</td>
      <td>{{ entry.phase_name }}</td>
      <td>{{ entry.notes }}</td>
      <td class="number-column">{{ entry.incurred_hours|floatformat:"2" }}h</td>
      <td>{% if entry.can_submit_automatically %}Yes{% else %}No{% endif %} {{ entry.upstream_id }} {{ entry.updated_at }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="8">No unsubmitted entries</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="row">
  <div class="col-md-12">
    {% if ids %}
    <form method="post" class="form-inline" style="display:inline">{% csrf_token %}<input type="hidden" name="ids" value="{{ ids }}"><input type="hidden" name="action" value="submit"><button role="submit" class="btn btn-primary">Submit your hours</button></form> {% endif %}<a rel="noopener" href="https://app.10000ft.com/?user_id={{ person.guid }}" role="button" class="btn btn-light">Edit in 10000ft</a>
  </div>
</div>


{% endblock %}
