.body-container {
  padding-top: 5em;
}
h2 {
  padding-bottom: 1em;
  padding-top: 1em;
}
.number-column {
  text-align: right;
}
.form-inline .form-group {
  padding-right: 2em;
}
.form-inline {
  display: inline-block;
}
.nowrap-column {
  white-space: nowrap;
}
.strikethrough {
  text-decoration: line-through;
}
.hours-table .incurred_hours, .hours-table .incurred_money, .hours-table .bill_rate {
  text-align: right;
}
.invoices-table .incurred-billing, .invoices-table .linked-projects, .invoices-table .linked-users, .invoices-table .incurred_hours, .invoices-table .incurred_money, .invoices-table .bill_rate_avg, .invoices-table .incorrect_entries_count, .invoices-table .billable_percentage {
  text-align: right;
}
.invoice-table .incorrect_entries_count, .invoice-table .incurred_hours, .invoice-table .bill_rate_avg, .invoice-table .incurred_money, .invoice-table .billable_percentage {
  text-align: right;
}
.projects-table .incurred_hours, .projects-table .incurred_money {
  text-align: right;
}

#flex_diff_calendar_holder {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

#flex_diff_calendar {
  width: 100%;
  min-width: 1000px;
  display:inline-block;
}

.top-buttons-row {
  margin-bottom: 1em;
}

.top-bar-dropdown {
  display: inline-block;
}
.piechart {
  height: 250px;
}
.invoice-logo {
   width:100%;
   max-width:300px;
}
.invoice-check {
  padding-right: 15px;
}
.summary-below-row {
  border-bottom-style: double;
}
.clickable-area {
  cursor: pointer;
}
#main-footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.your-information-card {
  min-height: 154px;
}
.text-floating-left {
  width:33%;
  float:left;
  text-align: left;
}
.text-floating-right {
  width:66%;
  float:left;
  text-align: right;
}
