{% extends "base.html" %}

{% block pageJs %}
google.charts.load("current", {packages:["treemap", "corechart", "calendar", "bar"]});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
  {% include "snippets/treemap_charts.js" %}
  {% include "snippets/line_charts.js" %}
  {% include "snippets/column_charts.js" %}
  {% include "snippets/calendar_charts.js" %}
}
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url "frontpage" %}">Home</a></li>
  <li class="breadcrumb-item active">Company</li>
</ol>

<h2>Overview</h2>

<div class="row">
  <div class="col-md-12">
    {% include "snippets/treemap_charts.html" %}
    {% include "snippets/column_charts.html" %}
    {% include "snippets/line_charts.html" %}
    {% include "snippets/calendar_charts.html" %}
  </div>
</div>
{% endblock %}
