{% extends "base.html" %}
{% load widget_tweaks %}
{% load django_tables2 %}

{% block title %}Clients - Solinor Finance{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url "frontpage" %}">Home</a></li>
  <li class="breadcrumb-item active">Clients</li>
</ol>

<h1>Clients</h1>

<div class="row top-buttons-row">
  <div class="col-md-12">
    <a class="btn btn-primary" href="{% url "clientbase_stats" %}" role="button">Statistics</a>
  </div>
</div>

{% comment %}
<form action="" method="get">
  <div class="row">
    {% for field in filters.form %}
    <div class="col-md-4">
      <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
      {{ field|add_class:'form-control' }}
    </div>
    {% endfor %}
    <div class="col-md-4">
      <button class="btn btn-primary" type="submit">Filter</button>
    </div>
  </div>
</form>
{% endcomment %}

{% render_table clients %}

{% endblock %}
