{% extends "base.html" %}
{% load humanize %}
{% load django_tables2 %}
{% block title %}{{ project.client_m.name }} - {{ project.name }} - Invoices{% endblock %}
{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url "frontpage" %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url "client_details" project.client_m.id %}">Client</a></li>
  <li class="breadcrumb-item active"><a href="{% url "project" project.guid %}">Project</a></li>
</ol>

<h2>{{ project.client_m.name }} - {{ project.name}} </h2>

{% if members %}
<div class="album py-5 bg-light">
  <div class="container-fluid">
    <div class="row">
      {% for member in members %}
      <div class="member-card-container">
        <div class="card mb-4 box-shadow">
          <span class="clickable-area member-card-image" onclick="Turbolinks.visit('{% url "person_overview" member.guid %}')">
            <img class="card-img-top" src="{{ member.thumbnail }}">
          </span>
          <div class="card-header clickable-area member-card-title" onclick="Turbolinks.visit('{% url "person_overview" member.guid %}')"><h5>{{ member.full_name }}</h5></div>
          <div class="card-body">
            <p class="card-text">
              {{ member.incurred_hours|floatformat:"0"|intcomma }}h / {{ member.incurred_money|floatformat:"0"|intcomma }}€
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% if project.description %}
<blockquote class="blockquote">
  <p class="mb-0">{{ project.description }}</p>
  <footer class="blockquote-footer">10000ft description</footer>
</blockquote>
{% endif %}

<div class="row top-buttons-row">
  <div class="col-md-12">
    <a class="btn btn-light" rel="noopener" href="https://app.10000ft.com/viewproject?id={{ project.project_id }}" role="button">View in 10000ft</a>
    <a class="btn btn-light" rel="noopener" href="https://app.10000ft.com/editproject?id={{ project.project_id }}" role="button">Edit in 10000ft</a>
    <a class="btn btn-light" href="{% url "project_charts" project.guid %}" role="button">Charts</a>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    {% render_table invoices %}
  </div>
</div>
{% endblock %}
