{% extends "base.html" %}

{% block content %}
<h2>Sick leaves <i class="fa fa-lock" aria-hidden="true"></i></h2>

<h3>People exceeding early caring model limits</h3>

<p>&gt; 20 sick leave days during past 12 months <i>and/or</i> &gt; 3 sick leave periods during past 4 months.</p>

{% include "hours/snippets/sick_leaves_table.html" with per_person_info=sick_leaves_exceeding_limits %}

<h3>Everyone else</h3>

{% include "hours/snippets/sick_leaves_table.html" with per_person_info=sick_leaves_not_exceeding_limits %}

{% endblock %}
