{% extends "base.html" %}

{% block title %}Flex saldos{% endblock %}

{% block pageJs %}
var saldo_sum = 0;
var kiky_sum = 0;
var range_map = $.range_map({
  ":-50": "red",
  "100:": "yellow"
})
$(".flex-row").each(function () {
  var user_guid = $(this).data("guid");
  $.get("/users/" + user_guid + "/flexhours/json?onlyActive=true", null, "json")
    .done(function(data, status) {
    if (data.flex_enabled === false) {
      $("#" + user_guid + "-row").hide();
    } else {
      $("#" + user_guid + "-saldo").html(data.flex_hours.toFixed(2) + "h");
      saldo_sum = saldo_sum + data.flex_hours;
      $("#saldo-sum").html(saldo_sum.toFixed(2) + "h");
      $("#" + user_guid + "-kiky").html(data.kiky_saldo.toFixed(2) + "h");
      kiky_sum = kiky_sum + data.kiky_saldo;
      $("#kiky-sum").html(kiky_sum.toFixed(2) + "h");
      if (data.flex_hours < -50) {
        $("#" + user_guid + "-row").addClass("table-danger");
      }
      if (data.flex_hours > 100) {
        $("#" + user_guid + "-row").addClass("table-warning");
      }
      $("#" + user_guid + "-saldo-sparkline").sparkline(data.monthly_saldos, {"colorMap": range_map, "height": "3em", "fillColor": false})
    }
    })
    .fail(function(data, status) {
      if (status == "error") {
        $("#" + user_guid + "-saldo").html("err");
        $("#" + user_guid + "-kiky").html("err");
      }
    });
});
{% endblock %}

{% block content %}

<h3>Flex saldos</h3>

<div class="row">
  <div class="col-md-12">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th class="number-column">Saldo</th>
          <th class="number-column">KIKY</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for person in people %}
        <tr id="{{ person.guid }}-row" class="flex-row" data-guid="{{ person.guid }}">
          <td><a href="{% url "person_flex_hours" person.guid %}">{{ person.full_name }}</a></td>
          <td class="number-column" id="{{ person.guid }}-saldo"></td>
          <td class="number-column" id="{{ person.guid }}-kiky"></td>
          <td id="{{ person.guid }}-saldo-sparkline"></td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td class="number-column" id="saldo-sum"></td>
          <td class="number-column" id="kiky-sum"></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
{% endblock %}
