{% extends "base.html" %}
{% block header %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 <script type="text/javascript">
   google.charts.load("current", {packages:["calendar"]});
   google.charts.setOnLoadCallback(drawChart);

function drawChart() {
  {% include "snippets/calendar_chart.js" with number_header="Flex diff" entries=daily_diff_entries destination_id="flex_diff_calendar" title="Flex saldo diff" %}

}
 </script>
 {% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{% url 'frontpage' %}">Home</a></li>
  <li><a href="{% url 'people' %}">People</a></li>
  <li><a href="{% url 'person_details' person.guid %}">Person: {{ person.first_name }}</a></li>
  <li class="active">Flex hours</li>
</ol>


<h2>Flex hours for {{ person.first_name }} {{ person.last_name }}: {% if flex_hours %}{{ flex_hours|floatformat }}h{% endif %}</h2>

<div id="flex_diff_calendar"></div>

<h3>Contracts <small><a href="{% url "admin:flex_hours_workcontract_add" %}"><span class="glyphicon glyphicon-plus"></span></a></small></h3>
<ul>
  {% for contract in contracts %}
  <li>{{ contract.start_date }} - {{ contract.end_date }} - {% if contract.flex_enabled %}Flex time in use.{% else %}Flex time not in use.{% endif %}{% if contract.worktime_percent %} Working with {{ contract.worktime_percent }}% contract.{%endif %} {% if request.user.is_staff %}<a href="{% url "admin:flex_hours_workcontract_change" contract.id %}"><span class="glyphicon glyphicon-pencil"></span></a>{% endif %}</li>
  {% endfor %}
</ul>

<h3>Flex time events <small><a href="{% url "admin:flex_hours_flextimecorrection_add" %}"><span class="glyphicon glyphicon-plus"></span></a></small></h3>
<ul>
  {% for event in flex_time_events %}
    <li>{{ event.date }}{% if event.adjust_by %} - flex time adjusted by {{ event.adjust_by|floatformat }}h{% endif %}{% if event.set_to %} - flex time set to {{ event.set_to|floatformat }}h{% endif %} {% if request.user.is_staff %}<a href="{% url "admin:flex_hours_flextimecorrection_change" event.id %}"><span class="glyphicon glyphicon-pencil"></span></a>{% endif %}</li>
  {% endfor %}
</ul>

<h3>Calculations log</h3>

<ul>
  {% for event in calculation_log %}
  <li>{{ event.date }} - {{ event.message }}</li>
  {% endfor %}
</ul>
{% endblock %}
