{% extends "base.html" %}
{% block header %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 <script type="text/javascript">
   google.charts.load("current", {packages:["calendar"]});
   google.charts.setOnLoadCallback(drawChart);

function drawChart() {
  {% include "snippets/calendar_chart.js" with calendar_height=calendar_height number_header="Flex diff" entries=daily_diff_entries destination_id="flex_diff_calendar" title="Flex saldo diff" %}
}
 </script>
 {% endblock %}

{% block title %}{% if flex_hours %}{{ flex_hours|floatformat }}h{% endif %} - flex time - {{ person.first_name }}{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{% url "frontpage" %}">Home</a></li>
  <li><a href="{% url "users_list" %}">People</a></li>
  <li><a href="{% url "person_details" person.guid %}">Person: {{ person.first_name }}</a></li>
  <li class="active">Flex hours</li>
</ol>


<h2>Flex hours for {{ person.first_name }} {{ person.last_name }}: {% if flex_hours %}{{ flex_hours|floatformat }}h{% endif %}</h2>

<div class="alert alert-info" role="alert"><strong>Tip:</strong> today is not included in flex hours calculations. If you want to know your flex saldo including today, you have to add it manually. <abbr title=""><small><span data-toggle="tooltip" data-placement="top" title="This way, if you mark your hours daily, you will know your exact balance, instead of 'on the morning it is -7.5h'.">Why?</span></small></abbr></div>


<div id="flex_diff_calendar"></div>

<h3>Contracts <small><a href="{% url "admin:flex_hours_workcontract_add" %}"><span class="glyphicon glyphicon-plus"></span></a></small></h3>
<ul>
  {% for contract in contracts %}
  <li>{{ contract.start_date }} - {{ contract.end_date }} - {% if contract.flex_enabled %}Flex time in use.{% else %}Flex time not in use.{% endif %}{% if contract.worktime_percent %} Working with {{ contract.worktime_percent }}% contract.{%endif %} {% if request.user.is_staff %}<a href="{% url "admin:flex_hours_workcontract_change" contract.id %}"><span class="glyphicon glyphicon-pencil"></span></a>{% endif %}</li>
  {% endfor %}
</ul>

<h3>Flex time adjustments <small><a href="{% url "admin:flex_hours_flextimecorrection_add" %}"><span class="glyphicon glyphicon-plus"></span></a></small></h3>
<ul>
  {% for event in flex_time_events %}
    <li>{{ event.date }}{% if event.adjust_by %} - flex time adjusted by {{ event.adjust_by|floatformat }}h{% endif %}{% if event.set_to %} - flex time set to {{ event.set_to|floatformat }}h{% endif %} {% if request.user.is_staff %}<a href="{% url "admin:flex_hours_flextimecorrection_change" event.id %}"><span class="glyphicon glyphicon-pencil"></span></a>{% endif %}</li>
  {% endfor %}
</ul>

<h3>Summary</h3>

<table class="table">
  <thead>
    <tr>
      <th>Month</th>
      <th class="number-column"><span data-toggle="tooltip" data-placement="top" title="Amount of leaves (sick leaves, annual holidays etc.) during this month.">Leave hours</span></th>
      <th class="number-column"><span data-toggle="tooltip" data-placement="top" title="Amount of working hours (excluding leaves) this month.">Worktime</span></th>
      <th class="number-column"><span data-toggle="tooltip" data-placement="top" title="Overtime hours. Not counted to your flex saldo, as overtime hours are paid separately.">Overtime</span></th>
      <th class="number-column"><span data-toggle="tooltip" data-placement="top" title="Amount of hours you should work in this month to have no changes in your flex saldo.">Working time</span></th>
      <th class="number-column"><span data-toggle="tooltip" data-placement="top" title="Change in flex saldo this month.">Diff</span></th>
      <th class="number-column"><span data-toggle="tooltip" data-placement="top" title="Total amount of flex saldo, including past months.">Cumulative</span></th>
    </tr>
  </thead>
  <tbody>
  {% for row in summary %}
  <tr>
    <td><a href="{% url "person_month" person.guid row.month.year row.month.month %}">{{ row.month|date:"Y-m" }}</a></td>
    <td class="number-column">{% if row.leave %}+{{ row.leave|floatformat:"2" }}{% endif %}</td>
    <td class="number-column">+{{ row.worktime|floatformat:"2" }}</td>
    <td class="number-column">{% if row.overtime %}({{ row.overtime|floatformat:"2"}}h){% endif %}</td>
    <td class="number-column">-{{ row.expected_worktime|floatformat:"2" }}</td>
    <td class="number-column">{{ row.diff|floatformat:"2" }}</td>
    <td class="number-column">{{ row.flex_hours|floatformat:"2" }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<h3>Calculations log</h3>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <th>Day type</th>
      <th class="number-column">- Full workday</th>
      <th class="number-column">+ Leaves</th>
      <th class="number-column">+ Worktime</th>
      <th class="number-column">(Overtime)</th>
      <th class="number-column">&Sigma;</th>
      <th class="number-column">Cumulative</th>
    </tr>
  </thead>
  <tbody>
  {% for event in calculation_log %}
  {% if event.sum or event.worktime or event.leave %}
  <tr>
    <td><a href="{% url "hours_browser" %}?user_name__icontains={{ person.full_name }}&date__gte={{ event.date }}&date__lte={{ event.date }}">{{ event.date }}</a></td>
    <td>{{ event.day_type }}</td>
    <td class="number-column">
      {% if event.day_type == "Weekday" %}
        {% if event.worktime_percent != 100 and event.worktime_percent %}
         {{ event.worktime_percent }}% *
        {% endif %}
        {% if event.expected_hours_today == 7.5 %}
          7.5h
        {% else %}
          -7.5h
        {% endif %}
      {% endif %}
      {% if event.unpaid_leaves %}
        + {{ event.unpaid_leaves|floatformat:2 }}h
      {% endif %}

      {% if event.day_type == "Weekday" and event.expected_hours_today != 7.5 or event.unpaid_leaves %}
        = {{ event.expected_hours_today|floatformat:"2" }}h
      {% endif %}
    </td>
    <td class="number-column">{% if event.leave %}{{ event.leave|floatformat:"2" }}h{% endif %}</td>
    <td class="number-column">{% if event.worktime %}{{ event.worktime|floatformat:"2" }}h{% endif %}</td>
    <td class="number-column">{% if event.overtime %}({{ event.overtime|floatformat:"2" }}h){% endif %}</td>
    <td class="number-column">{% if event.sum or event.sum == 0 %}{{ event.sum|floatformat:"2" }}h{% endif %}</td>
    <td class="number-column">{{ event.flex_hours|floatformat:"2" }}h</td>
  </tr>
  {% endif %}
  {% endfor %}
</tbody>
</table>
{% endblock %}
