{% extends "base.html" %}
{% load django_tables2 %}
{% load widget_tweaks %}

{% block title %}{{ person.display_name }}{% endblock %}
{% block pageJs %}
google.charts.load("current", {packages:["calendar", "treemap"]});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
  {% include "snippets/calendar_charts.js" %}
  {% include "snippets/treemap_charts.js" %}
}
{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url "frontpage" %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url "users_list" %}">People</a></li>
  <li class="breadcrumb-item active">Person: {{ person.first_name }}</li>
</ol>

<h2>{{ person.display_name }}</h2>

<div class="row top-buttons-row">
  <div class="col-md-12">
  <div class="dropdown top-bar-dropdown">
    <button class="btn btn-light dropdown-toggle" type="button" id="selectPersonMonth" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Select month
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="selectPersonMonth">
      {% for entries_month in months %}
      <a class="dropdown-item" href="{% url "person_month" person.guid entries_month.year entries_month.month %}">{{ entries_month }}</a>
      {% endfor %}
    </div>
  </div>
    <a  rel="noopener" href="https://app.10000ft.com/?user_id={{ person.guid }}" role="button" class="btn btn-light">View {{ person.first_name }} in 10000ft</a>
    <a class="btn btn-info" href="{% url "person_flex_hours" person.guid %}">Flex hours</a>
  </div>
</div>

<div class="row py-2">
  {% if person.thumbnail %}
  <div class="col-md-2 mb-4" style="max-width:160px">
  <img class="img-thumbnail" src="{{ person.thumbnail }}">
  </div>
  {% endif %}
  <div class="col-md-3 mb-4">
    <dl>
      <dt>Email</dt>
      <dd><a href="mailto:{{ person.email }}">{{ person.email }}</a></dd>
    </dl>
    <dl>
      <dt>Role & discipline</dt>
      <dd>{{ person.role }} & {{ person.discipline }}</dd>
    </dl>
  </div>
  <div class="col-md-5 mb-4">
    <dl>
      <dt>Billing ratio (past 30d / past 90d)</dt>
      <dd>{{ billing_ratio_30d|floatformat:"0" }}% / {{ billing_ratio_90d|floatformat:"0" }}%</dd>
    </dl>
  </div>
</div>

<h3>Projects</h3>

<div class="row py-5">
  <div class="col-md-12">
{% render_table projects_table %}
</div>
</div>

<h3>Charts</h3>

<div class="row">
  <div class="col-md-12">
    {% include "snippets/calendar_charts.html" %}
    {% include "snippets/treemap_charts.html" %}
  </div>
</div>
{% endblock %}
